img{
    width: 200px;
    height: 200px;
    float: left;
}

.blur{
    filter: blur(2px);
}

.bright{
    filter: brightness(200%);
}

.contrast{
    filter: contrast(200%);
}

.gray{
    filter: grayscale(200%);
}

.invert{
    filter: invert(100%);
}

.opacity{
    filter: opacity(50%);
}

.satur{
    filter: saturate(5);
}

.sapia{
    filter: sepia(100%);
}

.dropshado{
    filter: drop-shadow( 5px 10px 15px orange);
}

.cleardiv{
    clear: both;
}

*{ 
    box-sizing: border-box;
}
.box1{
    width: 200px;
    height: 300px;
    border: 2px solid red;
}

.box2{
    width: 200px;
    height: 300px;
    border: 2px solid rgb(87, 16, 201);
    padding: 50px;
   
}
.box3{
    border: 20px solid blue;
    width: 300px;
    padding: 10px 0;
}

.box3 input{
    width: 100%;
    
}
