
.one{
    overflow: hidden;
}

.one ul{
    margin: 0;
    padding: 0;
}

 .one ul li{
    list-style-type: none;
    float: left;
    margin: 10px;
}

.one ui li:last-child{
    margin-right: 0;
}

.one ul li a{
    background-image: url(icons.png) ;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 40px;
    border: 4px solid;
    border-radius: 50%;
    transition: 1s;
}


.one ul li:hover:nth-child(1) a {
    background-position: 0 -39px;
}


.one ul li:nth-child(2) a {
    background-position: -114px 0px;
}

.one ul li:hover:nth-child(2) a {
    background-position: -114px -39px;
}